
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');


:root{
    --digits-color: rgb(230, 230, 230);
    --digits-back: rgb(105, 105, 105);
    --operators-color: rgb(255, 166, 0);
    --back-primary: rgb(49, 49, 49);
    --back-secondary: rgb(77, 77, 77);
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body{
    background-color: rgb(255, 189, 66);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.calculator{
    border: 1px solid black;
    padding: 15px;
    background-color: var(--back-primary);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(40, 40, 40, 0.95);
}

.screen{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0px 20px 0px;
    text-align: right;
    background-color: var(--back-secondary);
    box-shadow: inset 0px 0px 5px var(--back-primary);
    color: var(--digits-color);
}

.upper-screen,
.lower-screen{
    min-height: 40px;
    line-height: 40px;
    overflow-y: auto;
    padding-right: 10px;
    vertical-align: middle;
    max-height: 150px;
}

.lower-screen{
    min-height: 60px;
    font-size: 24px;
    line-height: 60px;
    color: orange;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(5, 65px);
    gap: 15px;
}

.buttons button{
    padding: 1rem 0;
    font-size: 18px;
    background-color: var(--back-primary);
    border-style: none;
    border-radius: 4%;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
}

.equals{
    grid-area: 5 / 3 / 6 / 5;
}

.buttons .equals{
    background-color: var(--operators-color);
}

.operator,
.clear,
.delete{
    color: var(--operators-color);
    font-weight: 600;
}

.digit,
.decimal{
    color: var(--digits-color);
}

#footer{
    text-align: center;
    padding: 0px 0px 10px 0px;
    color: var(--back-primary);
    margin-top: -20px;
}

#github-logo{
    color: var(--back-primary);
    font-size: 22px;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}
#github-logo:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

