
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 300px;
    border: 1px solid black;
    padding: 15px;
}

.screen{
    border: 1px solid black;
    margin: 10px 0px 20px 0px;
    text-align: right;
}
.upper-screen{
    min-height: 32px;
    background-color: red;
    color: white;
    vertical-align: middle;
    line-height: 32px;
    padding-right: 10px;
}

.lower-screen{
    min-height: 45px;
    font-size: 24px;
    background-color: lightblue;
    vertical-align: middle;
    line-height: 45px;
    padding-right: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button{
    padding: 1rem 0;
}